*.vscode
*__pycache__

/dataset/*
!/dataset/class_list.txt
!/dataset/txt
/dataset/txt/*
!/dataset/xml
/dataset/xml/*
!/dataset/jpg
!/dataset/png
/dataset/*/result_from_txt
/dataset/*/result_from_xml
!/dataset/sample